.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que la App ocupe toda la altura de la ventana */
  text-align: center;
  font-family: Arial, sans-serif;
}

main {
  flex-grow: 1; /* Permite que el main crezca y ocupe el espacio disponible */
  padding: 20px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
