.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: auto;
  background-color: #282c34;
  color: white;
  flex-wrap: wrap;
}

.background-image {
  width: 100px;
  height: 100px;
  background-image: url('../components/img/Malva_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 120px; 
  margin: auto; 
}

.header-options {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.icon-box {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header-options {
    justify-content: center;
    width: 100%;
  }

  .background-image {
    width: 80px;
    height: 80px;
  }

  .icon {
    font-size: 20px;
  }
}
